Leave Approval Power Automate/Microsoft.Flow/flows/497ae535-2288-41fb-a302-8835de08a58a/definition.json
{"name":"0d5209bc-be46-41b7-b06b-6f3767d0430f","id":"/providers/Microsoft.Flow/flows/0d5209bc-be46-41b7-b06b-6f3767d0430f","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Leave Automate","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"453cf33e-1075-4b6a-bc26-083419f42bcc","type":"User","tenantId":"7d1c7785-2d8a-437d-b842-1ed5d8fbe00a"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-01-06T17:59:30.2503185Z","connectionKeySavedTimeKey":"2024-01-06T17:59:30.2503185Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnectionWebhook","inputs":{"parameters":{"form_id":"hXccfYotfUO4Qh7V2PvgCj7zPEV1EGpLvCYINBn0K8xUQkFYR0FJQ1laTTJSSkVLSDk3QUc3VjNNSC4u"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_response_details":{"runAfter":{},"type":"OpenApiConnection","inputs":{"parameters":{"form_id":"hXccfYotfUO4Qh7V2PvgCj7zPEV1EGpLvCYINBn0K8xUQkFYR0FJQ1laTTJSSkVLSDk3QUc3VjNNSC4u","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"authentication":"@parameters('$authentication')"}},"Start_and_wait_for_an_approval":{"runAfter":{"Get_response_details":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Leave Approval","WebhookApprovalCreationInput/assignedTo":"YOUR EMAIL ID","WebhookApprovalCreationInput/details":"@{body('Get_response_details')?['rbc2205ac3887498599539546f7ec40bd']}@{body('Get_response_details')?['responder']}","WebhookApprovalCreationInput/requestor":"@body('Get_response_details')?['responder']","WebhookApprovalCreationInput/enableNotifications":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"For_each":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body']?['responses']","actions":{"Send_an_email":{"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@body('Get_response_details')?['responder']","emailMessage/Subject":"Leave Approval","emailMessage/Body":"<p><span style=\"white-space: pre-wrap;\">Your leave request has been approved. Comment:</span>@{items('For_each')?['comments']}</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"type":"Foreach"}},"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"else":{"actions":{"For_each_1":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body']?['responses']","actions":{"Send_an_email_2":{"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@body('Get_response_details')?['responder']","emailMessage/Subject":"Leave Approval","emailMessage/Body":"<p><span style=\"white-space: pre-wrap;\">Your leave request has been rejected. Comment:</span>@{items('For_each_1')?['comments']}</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"type":"Foreach"}}},"expression":{"or":[{"contains":["@body('Start_and_wait_for_an_approval')?['responseSummary']","Response: Approve"]}]},"type":"If"}},"outputs":{}},"connectionReferences":{"shared_microsoftforms":{"connectionName":"shared-microsoftform-03c795b9-08b8-4fbf-8207-0cb1e1e44eea","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified"},"shared_approvals":{"connectionName":"shared-approvals-c87b4707-a22e-41a6-aedf-c055f6a7902c","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-df5a4831-55c7-4b8d-843b-f71156b4b6c2","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}