Defect Sheet Creation and Send Message to Teams To Add Defects/Microsoft.Flow/flows/81aebd5f-8ce3-4edb-9316-45bb31bca375/definition.json
{"name":"aaedc4ff-d9eb-4356-bde8-0058cf43fe8d","id":"/providers/Microsoft.Flow/flows/aaedc4ff-d9eb-4356-bde8-0058cf43fe8d","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Defect Sheet Creation and Send Message to Teams To Add Defects","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"453cf33e-1075-4b6a-bc26-083419f42bcc","type":"User","tenantId":"7d1c7785-2d8a-437d-b842-1ed5d8fbe00a"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-01-24T15:27:17.8595735Z","connectionKeySavedTimeKey":"2024-01-24T15:27:17.8595735Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Recurrence_To_Trigger_this_flow_everyday_at_12_PM":{"recurrence":{"frequency":"Day","interval":1,"startTime":null,"timeZone":"India Standard Time","schedule":{"hours":["12"]}},"type":"Recurrence"}},"actions":{"Condition_To_check_if_date_is_15th_of_the_month":{"actions":{"Compose_To_generate_dynamic_folder_path_and_file_name_to_create_new_file_in_OneD":{"type":"Compose","inputs":"@concat('/Template/Defect_Master/Equip_Defects_',formatDateTime(utcNow(),'MMMM'),'.xlsx')"},"Copy_file_using_path_Copy_the_Template_file_on_the_new_folder":{"runAfter":{"Compose_To_generate_dynamic_folder_path_and_file_name_to_create_new_file_in_OneD":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"source":"/Template/Equip_Defects_Template.xlsx","destination":"@outputs('Compose_To_generate_dynamic_folder_path_and_file_name_to_create_new_file_in_OneD')","overwrite":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CopyDriveFileByPath"},"authentication":"@parameters('$authentication')"}},"Create_share_link_by_path_Generate_URL_for_the_new_file_which_is_created":{"runAfter":{"Copy_file_using_path_Copy_the_Template_file_on_the_new_folder":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"path":"@outputs('Compose_To_generate_dynamic_folder_path_and_file_name_to_create_new_file_in_OneD')","type":"Edit","scope":"Organization"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateShareLinkByPathV2"},"authentication":"@parameters('$authentication')"}},"Compose_To_generate_month_name_to_add_in_teams_message_":{"runAfter":{"Create_share_link_by_path_Generate_URL_for_the_new_file_which_is_created":["Succeeded"]},"type":"Compose","inputs":"@formatDateTime(utcNow(),'MMMM')"},"Compose_To_generate_Year_to_add_in_teams_message":{"runAfter":{"Compose_To_generate_month_name_to_add_in_teams_message_":["Succeeded"]},"type":"Compose","inputs":"@formatDateTime(utcNow(),'yyyy')"},"Post_message_in_a_chat_or_channel":{"runAfter":{"Compose_To_generate_Year_to_add_in_teams_message":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"User","location":"Group chat","body/recipient":"19:1dc4ca79fefd4483a1d470cdbf1b0962@thread.v2","body/messageBody":"<p><span style=\"white-space: pre-wrap;\">Hi&nbsp;</span><b><strong style=\"color: rgb(25, 126, 245); white-space: pre-wrap;\">Everyone</strong></b><span style=\"white-space: pre-wrap;\">,</span></p><br><p><b><strong style=\"color: rgb(255, 25, 25); white-space: pre-wrap;\">IMPORTANT!</strong></b></p><br><p><span style=\"white-space: pre-wrap;\">I have created this defect sheet for </span>@{outputs('Compose_To_generate_month_name_to_add_in_teams_message_')}<span style=\"white-space: pre-wrap;\"> </span>@{outputs('Compose_To_generate_Year_to_add_in_teams_message')}<span style=\"white-space: pre-wrap;\">month. Please add your defects to this sheet and I'll upload this sheet for all of us at the time of TAR closer, just make sure once you add your defects in this sheet, adjust your hours in Equip accordingly. Make sure you add all your&nbsp;</span>@{outputs('Compose_To_generate_month_name_to_add_in_teams_message_')}<span style=\"white-space: pre-wrap;\">  </span>@{outputs('Compose_To_generate_Year_to_add_in_teams_message')}<span style=\"white-space: pre-wrap;\">defect before</span><u><b><strong style=\"white-space: pre-wrap;\">&nbsp;23rd&nbsp;</strong></b></u>@{outputs('Compose_To_generate_month_name_to_add_in_teams_message_')}<span style=\"white-space: pre-wrap;\"> </span>@{outputs('Compose_To_generate_Year_to_add_in_teams_message')}<u><b><strong style=\"white-space: pre-wrap;\">(Last Date) as we have shared the</strong></b></u><b><strong style=\"color: rgb(255, 25, 25); white-space: pre-wrap;\"> </strong></b><u><b><strong style=\"white-space: pre-wrap;\">Agile Matrix on 25th </strong></b></u>@{outputs('Compose_To_generate_month_name_to_add_in_teams_message_')}<span style=\"white-space: pre-wrap;\"> </span>@{outputs('Compose_To_generate_Year_to_add_in_teams_message')}<b><strong style=\"white-space: pre-wrap;\">. Once we will close the Sprint&nbsp;after that defects cannot be logged.</strong></b></p><p><span style=\"white-space: pre-wrap;\">&nbsp;</span></p><p><b><strong style=\"white-space: pre-wrap;\">Keep the TASK ID Blank we will add it at the time of upload.</strong></b></p><p><span style=\"white-space: pre-wrap;\">&nbsp;</span></p><p><b><strong style=\"white-space: pre-wrap;\">Below is the defect sheet please start adding your defects to this:</strong></b></p><p><a href=\"@{outputs('Create_share_link_by_path_Generate_URL_for_the_new_file_which_is_created')?['body/WebUrl']}\"><span style=\"white-space: pre-wrap;\">Current </span><span style=\"white-space: pre-wrap;\">Month </span><span style=\"white-space: pre-wrap;\">Defect</span></a><span style=\"white-space: pre-wrap;\"> Sheet</span><span style=\"white-space: pre-wrap;\"> </span><span style=\"white-space: pre-wrap;\">(Please access with </span><b><strong style=\"color: rgb(247, 139, 24); white-space: pre-wrap;\">Eviden</strong></b><span style=\"white-space: pre-wrap;\"> Email ID to edit)</span></p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Condition_To_Remind_on_22nd_of_the_month":{"actions":{"Post_message_in_a_chat_or_channel_Reminder":{"runAfter":{"Compose_To_generate_Year_to_add_in_teams_message_Reminder":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"User","location":"Group chat","body/recipient":"19:1dc4ca79fefd4483a1d470cdbf1b0962@thread.v2","body/messageBody":"<p><span style=\"white-space: pre-wrap;\">Hi&nbsp;</span><b><strong style=\"color: rgb(25, 126, 245); white-space: pre-wrap;\">Everyone</strong></b><span style=\"white-space: pre-wrap;\">,</span></p><br><p><b><strong style=\"color: rgb(255, 25, 25); white-space: pre-wrap;\">GENTLE REMINDER!</strong></b></p><br><p><span style=\"white-space: pre-wrap;\">Submit the defect for </span>@{outputs('Compose_To_generate_month_name_to_add_in_teams_message_Reminder')}<span style=\"white-space: pre-wrap;\"> </span>@{outputs('Compose_To_generate_Year_to_add_in_teams_message_Reminder')}<span style=\"white-space: pre-wrap;\"> month. Make sure you add all your&nbsp;</span>@{outputs('Compose_To_generate_month_name_to_add_in_teams_message_Reminder')}<span style=\"white-space: pre-wrap;\"> </span>@{outputs('Compose_To_generate_Year_to_add_in_teams_message_Reminder')}<span style=\"white-space: pre-wrap;\">defect before</span><u><b><strong style=\"white-space: pre-wrap;\">&nbsp;</strong></b></u><u><b><strong style=\"color: rgb(255, 25, 25); white-space: pre-wrap;\">23rd</strong></b></u><u><b><strong style=\"white-space: pre-wrap;\">&nbsp;</strong></b></u>@{outputs('Compose_To_generate_month_name_to_add_in_teams_message_Reminder')}<span style=\"white-space: pre-wrap;\">   </span>@{outputs('Compose_To_generate_Year_to_add_in_teams_message_Reminder')}<u><b><strong style=\"white-space: pre-wrap;\">(Last Date) as we have shared the</strong></b></u><b><strong style=\"color: rgb(255, 25, 25); white-space: pre-wrap;\"> </strong></b><u><b><strong style=\"white-space: pre-wrap;\">Agile Matrix on the </strong></b></u><u><b><strong style=\"color: rgb(252, 25, 25); white-space: pre-wrap;\">25th </strong></b></u>@{outputs('Compose_To_generate_month_name_to_add_in_teams_message_Reminder')}<span style=\"white-space: pre-wrap;\"> </span>@{outputs('Compose_To_generate_Year_to_add_in_teams_message_Reminder')}<b><strong style=\"white-space: pre-wrap;\">. Once we will close the Sprint&nbsp;after that defects cannot be logged.</strong></b></p><p><span style=\"white-space: pre-wrap;\">&nbsp;</span></p><p><b><strong style=\"white-space: pre-wrap;\">Keep the TASK ID Blank we will add it at the time of upload.</strong></b></p><p><span style=\"white-space: pre-wrap;\">&nbsp;</span></p><p><b><strong style=\"white-space: pre-wrap;\">Below is the defect sheet please start adding your defects to this:</strong></b></p><p><a href=\"@{outputs('Create_share_link_by_path_Generate_URL_for_the_new_file_which_is_created_remind')?['body/WebUrl']}\"><span style=\"white-space: pre-wrap;\">Current Month Defect Sheet</span></a><span style=\"white-space: pre-wrap;\"> </span><span style=\"white-space: pre-wrap;\">(Please access with </span><b><strong style=\"color: rgb(243, 131, 25); white-space: pre-wrap;\">Eviden</strong></b><span style=\"white-space: pre-wrap;\"> Email ID to edit)</span></p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}},"Compose_To_generate_dynamic_folder_path_and_file_name_to_create_new_file_in_OD_R":{"type":"Compose","inputs":"@concat('/Template/Defect_Master/Equip_Defects_',formatDateTime(utcNow(),'MMMM'),'.xlsx')"},"Create_share_link_by_path_Generate_URL_for_the_new_file_which_is_created_remind":{"runAfter":{"Compose_To_generate_dynamic_folder_path_and_file_name_to_create_new_file_in_OD_R":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"path":"@outputs('Compose_To_generate_dynamic_folder_path_and_file_name_to_create_new_file_in_OD_R')","type":"Edit","scope":"Organization"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateShareLinkByPathV2"},"authentication":"@parameters('$authentication')"}},"Compose_To_generate_month_name_to_add_in_teams_message_Reminder":{"runAfter":{"Create_share_link_by_path_Generate_URL_for_the_new_file_which_is_created_remind":["Succeeded"]},"type":"Compose","inputs":"@formatDateTime(utcNow(),'MMMM')"},"Compose_To_generate_Year_to_add_in_teams_message_Reminder":{"runAfter":{"Compose_To_generate_month_name_to_add_in_teams_message_Reminder":["Succeeded"]},"type":"Compose","inputs":"@formatDateTime(utcNow(),'yyyy')"}},"else":{"actions":{"Condition_To_Remind_on_23th_of_the_month":{"actions":{"Post_message_in_a_chat_or_channel_Final_Reminder":{"type":"OpenApiConnection","inputs":{"parameters":{"poster":"User","location":"Group chat","body/recipient":"19:1dc4ca79fefd4483a1d470cdbf1b0962@thread.v2","body/messageBody":"<p><span style=\"white-space: pre-wrap;\">Hi&nbsp;</span><b><strong style=\"color: rgb(25, 126, 245); white-space: pre-wrap;\">Everyone</strong></b><span style=\"white-space: pre-wrap;\">,</span></p><br><p><b><strong style=\"color: rgb(255, 25, 25); white-space: pre-wrap;\">FINAL REMINDER!</strong></b></p><br><p><span style=\"white-space: pre-wrap;\">Please add your defects ASAP.</span></p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}}},"else":{"actions":{}},"expression":{"and":[{"equals":["@dayOfMonth(utcNow())",24]}]},"type":"If"}}},"expression":{"and":[{"equals":["@dayOfMonth(utcNow())",22]}]},"type":"If"}}},"expression":{"and":[{"equals":["@dayOfMonth(utcNow())",15]}]},"type":"If"}},"outputs":{},"description":"Defect Sheet: It will automatically create a defect sheet and send to team fill the defect sheet and do the follow-up from team on configured days."},"connectionReferences":{"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-cb885196-8b8b-4fde-91b7-c44c5f5fed2e","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"},"shared_teams":{"connectionName":"shared-teams-52151916-8f60-4048-ba32-d5d8f1bffa04","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}